/* Start of Navbar Css */
.navbar {
  height: 72px;
  background-color: #2196f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.navbar-heading {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 32px;
  cursor: pointer;
}

.navbar-items-wrapper {
  font-size: 20px;
  color: white;
}

.navbar-item {
  cursor: pointer;
  padding: 0 0.5rem;
}

/* Start of home-image */
.home-image {
  width: 100%;
  object-fit: cover;
  text-align: center;
  position: sticky;
  top: -90px;
}

.text-on-image {
  top: 20%;
  position: absolute;
  font-family: monospace;
  line-height: 1.5;
  width: 100%;
}

.text-on-image-name {
  font-size: 1.25rem;
  margin-bottom: 5px;
  font-weight: bold;
}

.text-on-image-seperater {
  margin: 0 auto 5px;
  width: 200px;
  border-top: 1px solid white;
  border-bottom: none;
  border-right: none;
  border-left: none;
}

.text-on-image-desc {
  font-family: monospace;
}

/* Start of About me section */
.home-body {
  z-index: 1;
}

.article {
  padding: 20px;
  background: white;
}

.sec-head {
  text-align: center;
}

.profile-img {
  margin-bottom: 1rem;
}

.about-me-desc {
  text-align: justify;
  color: #565656;
  letter-spacing: 1.6px;
  display: flex;
  flex-flow: column wrap;
}

.about-me-desc > p {
  margin: 0 0 12px 0;
}

/* Extra styles */
.github-btn {
  max-width: 300px;
  align-self: center;
  margin-top: 10px;
}

.radiant {
  cursor: pointer;
  /* font-style: italic; */
  font-weight: 500;
  color: black;
}

.about-me-article {
  min-height: 100vh;
}

/* Media query where width is for mid-size devices or bigger */
@media (min-width: 600px) {
  .text-on-image-name {
    font-size: 1.5rem;
  }

  .sec-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .profile-img {
    width: 45%;
    height: 400px;
    object-fit: contain;
  }

  .about-me-desc {
    width: 45%;
    justify-content: center;
  }
}

/* Media query where width is for large devices or bigger */
@media (min-width: 900px) {
  .text-on-image-name {
    font-size: 2rem;
  }
}
